.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(97, 93, 93); 
  }
  
  .nav ul li {
    float: left;
    padding: 15px 20px; 
    text-align: center;
  }
  
  .nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .nav ul li:hover {
    background-color: rgb(46, 41, 41);
  }
  
 